* {
  margin: 0px;
  padding: 0px;
}

.home-container{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(180deg, #1C3D23 73.96%, rgba(28, 61, 35, 0) 100%);
}

.home-content{
  display: flex;
  flex-direction: row;
  margin-top: 140px;
  margin-left: 250px;
}

.home-column-first header{
  border-bottom: 2px solid white;
}

.home-column-first header h1{
  padding-bottom: 10px;
  color: white;
  font-family: 'Roboto Medium500', sans-serif;
}

.home-column-first main{
  margin-top: 20px;
}

.home-column-first main p{
  color: white;
  font-family: 'Roboto Light300', sans-serif;
}

footer{
  margin-top: 30px;
  display: flex;
  flex-direction: row;
}

footer .btn-report button{
  border-radius: 8px;
  width: 130px;
  height: 25px;
  background-color: #1B8338;

  border: none;
  outline: 0;

  margin-right: 15px;

  cursor: pointer;
}

footer .btn-consult button{
  border-radius: 8px;
  width: 130px;
  height: 25px;
  background-color: #FFFFFF;

  border: none;
  outline: 0;

  margin-right: 15px;

  cursor: pointer;
}

footer .btn-report button a{
  text-decoration: none;
  font-family: 'Roboto Light300', sans-serif;
  color: white;
}

footer .btn-consult button a{
  text-decoration: none;
  font-family: 'Roboto Light300', sans-serif;
  color: black;
}

.home-column-second{
  margin-left: 30px;
  margin-top: -30px;
}

.home-column-second header .logo_img{
  width: 250px;
}

.home-column-second footer span{
  margin-left: 5px;
  margin-top: 3px;
  font-size: 12px;
  color: white;
  font-family: 'Roboto Light300', sans-serif;
}

footer img{
  width: 20px;
}

@media (min-width: 1024px) and (max-width: 1025px){
  .home-content{
    margin-top: 160px;
    margin-left: 120px;
  }
}

@media (max-width: 1440px) and (min-width: 1290px){
  .home-content{
    margin-top: 180px;
    margin-left: 260px;
  }

  .home-column-first header h1{
    font-size: 45px;
  }

  .home-column-first main p{
    font-size: 17px;
  }

  footer .btn-report button{
    width: 170px;
    height: 25px;
  }

  footer .btn-consult button{
    width: 170px;
    height: 25px;
  }
}

@media (min-width: 768px) and (max-width: 1000px){
  .home-content{
    margin-top: 130px;
    margin-left: 90px;
  }

  .home-column-first header h1{
    font-size: 25px;
  }

  .home-column-first main p{
    font-size: 12px;
  }

  footer .btn-report button{
    width: 130px;
    height: 25px;
  }

  footer .btn-consult button{
    width: 130px;
    height: 25px;
  }

  .home-column-second header .logo_img{
    width: 180px;
  }

  .home-column-second{
    margin-top: -10px;
  }
}

@media(max-width: 767px) and (min-width: 601px){
  .home-content{
    margin-left: 80px;
  }
}

@media(min-width: 425px) and (max-width: 600px){
  .home-content{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    margin-left: 20px;
  }

  .home-column-first header h1{
    font-size: 25px;
  }

  .home-column-first main p{
    font-size: 15px;
  }

  .home-column-second header .logo_img{
    display: none;
  }

  footer{
    margin-left: 50px;
  }
}

@media(min-width: 375px) and (max-width: 400px){
  .home-content{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    margin-left: 20px;
  }

  .home-column-second header .logo_img{
    display: none;
  }
}

@media(min-width: 320px) and (max-width: 360px){
  .home-content{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    margin-left: 20px;
  }

  .home-column-second header .logo_img{
    display: none;
  }
}