.input-time-content{
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.input-time-container label{
  font-family: 'Roboto';
}

.input-time-container input{
  margin-top: 10px;
  width: 200px;
  height: 25px;
  border: none;
  border-bottom: 1px solid #1C3D23;
  outline: 0;
}

@media(min-width: 375px) and (max-width: 400px){
  .input-time-container input{
    width: 125px;
  }
}

@media(min-width: 320px) and (max-width: 360px){
  .input-time-container input{
    width: 130px;
  }
}