.textarea-container{
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.textarea-container label{
  font-family: 'Roboto';
}

textarea{
  
  width: 420px;

  height: 50px;
  border: none;
  border-bottom: 1px solid #1C3D23;

  outline: 0;
}

@media(min-width: 425px) and (max-width: 600px){
  textarea{
    width: 400px;
  }
}

@media(min-width: 375px) and (max-width: 400px){
  textarea{
    width: 270px;
  }
}

@media(min-width: 320px) and (max-width: 360px){
  textarea{
    width: 280px;
  }
}